*
{
	/*border:1px solid red;
	padding:15px;
	margin:10px;*/
}

body
{
	background-color: #777;
	width:960px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color:#777;
	margin: 0 auto;

}

.header
{
	background-color: #ebebeb;
	text-align: center;
	padding:10px;
	margin:10px;
}

.nav
{
	background-color: #ebebeb;
	text-align: center;
	padding:10px;
	margin:10px;
}

.section
{
	background-color: #ebebeb;
	text-align: center;
	width:495px;
	float:left;
	height:100%;

}

.article
{
	background-color: #777;
	color:#ebebeb;
	padding:10px;
	margin:10px;
}

.h1h2h3
{
	background-color: #ebebeb;
	text-align: center;
	color:#777;
	padding:10px;
	margin:10px;
}

.p
{
	background-color: #ebebeb;
	text-align: center;
	color:#777;
	padding:10px;
	margin:10px;
}



.aside
{

	background-color: #ebebeb;
	text-align: center;
	float:left;
	margin-left:10px;
	height:100%;
	width:433px;



}

.what
{
	position: relative;
	margin:10px;

	height:340px;
}


footer
{
	clear:both;
	background-color: #ebebeb;
	text-align: center;
	margin:10px;
	padding:10px;
	margin:10px;
}